@{ string version = typeof(EPS.MvcApplication).Assembly.GetName().Version.ToString(); }

<script src="~/Scripts/jsLogs.js?nocache=@version"></script>

<table class="TabParent_Logs" style="border-collapse: collapse; margin-top: 0px;">
    <tr>
        <td style="width: 100%;">
            <div id="tabs_container_logs">
                <ul id="tabs_logs" style="cursor: default;" class="menu">
                    <li role="menuitem" class="menu-item active" id="GetEmployeesLog">
                        <a href="#GetEmployeesLog">
                            Employees
                        </a>
                    </li>
                    <li role="menuitem" class="menu-item active" id="GetWorkflowRunLog">
                        <a href="#GetWorkflowRunLog">
                            Workflow Runs
                        </a>
                    </li>
                    <li role="menuitem" class="menu-item active" id="GetWorkflowLog">
                        <a href="#GetWorkflowLog">
                            Worflows/workflow items
                        </a>
                    </li>
                    <li role="menuitem" class="menu-item active" id="GetParametersLog">
                        <a href="#GetParametersLog">
                            System Parameters
                        </a>
                    </li>
                    <li role="menuitem" class="menu-item active" id="GetUsersLog">
                        <a href="#GetUsersLog">
                            Users
                        </a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
</table>

<div id="divMainLogs"></div>
